  body {
    background-color: var(--bkg-color);
    color:var(--text-color);
    display: block;
    font-family: RobotoMono-Light;
    font-weight: lighter;
    font-size:20px;
    margin:0px;
  }

  h4 {
    font-family: RobotoMono-Light;
    font-size:20px;
    font-weight: lighter;
    margin: 5px;
  }

  .container {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100%;
    margin-bottom: 25px;

  }

  .messages {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
    color: var(--text-color);
    margin: 5px;
    text-align: left;
    word-spacing: normal;
    font-family: RobotoMono-Light;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 0px;
    }

  #bot {
    margin-right: auto;
    
  }

  #user {
    color:var(--text-color);
    margin-top: 5px;
    margin-bottom: 5px;
    
  }

  .bot {
    font-family: RobotoMono-Light;
    font-weight: lighter;
    color:var(--text-color);
    font-size: 20px;
    
  }

  .avatar {
    height: 25px;
    
  }

  .response {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
  }

  span {
    text-align: left; 
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5px; 
    margin-bottom: 5px; 
  }

  .btnTEXT2 {
    background-color: var(--bkg-color);
    color: var(--text-color);
    margin:0px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: RobotoMono-Light;
    font-weight: lighter;
    font-size: 20px;
    position: relative;
  }

  .btnTEXT2:hover {
    color:var(--bkg-color);
    background-color: var(--text-color);
    position: relative;
    cursor: pointer;
    }

    button {
      margin-top:2px;
    }

    .btn-toggle {
      border:none;
      background-color: transparent;
      color:var(--text-color);
      font-size: 20px;
      font-family: RobotoMono-Light;
      font-weight: lighter;
      cursor: pointer;
      float:right;
      margin:0px;
    }

    .info {
      font-size: 20px;
      margin: 5px;
  }

  .btn {
      border:none;
      background-color: transparent;
      color:var(--text-color);
      font-size: 20px;
      font-family: RobotoMono-Light;
      font-weight: lighter;
      cursor: pointer;
    }

    i {
    width: 5px;
    height: 80%;
    background-color: gray;
  }

  input:focus + i {
    display: none;
  }
  

:root {
  color-scheme: light dark; /* both supported */
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #b0bac0;
    --text-color2: #00ffff;
    --text-color3: #66ff00;
    --bkg-color: black;
  }
  body.light-theme {
    --text-color: black;
    --text-color2:#9f00ff;
     --text-color3: #ff00ff;
    --bkg-color: #b0bac0;
  }
}


/*GRIGLIA*/
.griglia {
  max-width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap:5px;
  margin:0px;
}

.span1 {
  grid-column: span 1;
}

.span2 {
  grid-column: span 2;
}

.span3 {
  grid-column: span 3;
}

.span4 {
  grid-column: span 4;
}

.span5 {
  grid-column: span 5;
}

.span6 {
  grid-column: span 6;
}

.span7 {
  grid-column: span 7;
}

.span8 {
  grid-column: span 8;
}

.span9 {
  grid-column: span 9;
}

.span10 {
  grid-column: span 10;
}

.span11 {
  grid-column: span 11;
}

.span12 {
  grid-column: span 12;
}

  #input { 
    width: 100%;
    height: 32px;
    background-color: var(--bkg-color);
    position: fixed;
    bottom:0px;
    font-size: 20px;
    left:0;
    color: grey;
    z-index: 0;
  } 

  input {  
    position: fixed;
    bottom:0;
    padding-right: 15px; 
    padding-left: 15px; 
    padding-top: 2px; 
    padding-bottom: 2px; 
    left:0;
    background-color:var(--bkg-color);
    color:var(--text-color);
    border-top: 1px var(--text-color) solid;
    border-bottom: none;
    border-left: none;
    font-family: RobotoMono-Light;
    font-weight: lighter;
    font-size: 20px;
    width: 100%;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
    z-index: 10;
  }

  input:focus {
      display: block;
      background-color:var(--bkg-color);
      animation-name: blink;
      animation-duration: 0s;
      outline: none;
  }

  
  @keyframes blink {
      from { opacity: 1; }
      to { opacity: 0; }
  }
  

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: var(--text-color);
   opacity: 0.6;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--text-color);
    opacity: 0.6;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-color);
    opacity: 0.6;
  }

  .indice a {
    text-decoration: none;
    background-color:var(--bkg-color);
    color:var(--text-color);
    margin-left: 15px;
    margin-top: 2px; 
    width: 60%;
  }

.imghover {
  display: none;  
  overflow: hidden;
  position:fixed;
  height: auto;
  z-index: 9;
}

span:hover + .imghover {
  display: block;
  overflow: hidden;
  z-index: 9;
}

@font-face {
  font-family:RobotoMono-Light;
  src: url(RobotoMono-Light.ttf);
  font-family:RobotoMono-Regular;
  src: url(RobotoMono-Regular.ttf);
} 
